* {
    color: #8b8d8f;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

body {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: 320px;
    height: 600px;
    background: linear-gradient(to bottom, #33383e 0%, #17191d 100%);
    display: block;
    margin: 0px auto;
    border: 2px solid #3e434c;
    border-radius: 40px;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.indicator {
    font-size: 10px;
}

.small,
.big,
.big-play-pause {
    width: 40px;
    height: 40px;
    background: linear-gradient(at bottom right, #292e35 0%, #292e34 80%);
    border: none;
    border-radius: 100%;
    padding: 0px;
    box-shadow: -7px -6px 10px 5px rgba(255, 255, 255, 0.04),
        6px 6px 10px 5px rgb(39, 42, 47);
}

.big,
.big-play-pause {
    width: 60px;
    height: 60px;
    background: linear-gradient(at bottom right, #17191e 0%, #1d2025 80%);
    box-shadow: -7px -6px 10px 5px rgba(255, 255, 255, 0.04),
        7px 6px 10px 2px rgb(14, 15, 16);
}

.big-play-pause {
    background: linear-gradient(at top left, #c92711 0%, #ea570a 80%);
}

.inner-button,
.center,
.inner-button-big,
.play-pause {
    width: 35px;
    height: 35px;
    background: radial-gradient(
        at top left,
        rgba(46, 50, 58, 1) 0%,
        rgba(28, 30, 35, 1) 80%
    );
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    margin: 0px auto;
    border: none;
    border-radius: 100%;
}

.inner-button-big {
    width: 55px;
    height: 55px;
    background: radial-gradient(
        at top left,
        rgb(57, 59, 64) 0%,
        rgb(12, 13, 16) 112%
    );
}

.play-pause {
    width: 55px;
    height: 55px;
    background: radial-gradient(at bottom right, #c92711 0%, #ea570a 80%);
}

.small:active {
    background: radial-gradient(at top left, #292e35 0%, #292e34 80%);
    transform: translateY(2px);
}

.inner-button:active {
    background: radial-gradient(
        at bottom right,
        rgba(46, 50, 58, 1) 0%,
        rgba(28, 30, 35, 1) 80%
    );
}

.big-play-pause:active {
    background: radial-gradient(at bottom right, #c92711 0%, #ea570a 80%);
    transform: translateY(4px);
}

.play-pause:active {
    background: radial-gradient(at top left, #c92711 0%, #ea570a 80%);
}

.big:active {
    background: radial-gradient(at top left, #17191e 0%, #1d2025 80%);
    transform: translateY(4px);
}

.inner-button-big:active {
    background: radial-gradient(
        at bottom right,
        rgb(57, 59, 64) 0%,
        rgb(12, 13, 16) 112%
    );
}

.center {
    width: 220px;
    height: 220px;
    background: radial-gradient(
        at top left,
        rgba(28, 30, 35, 1) 0%,
        #131416 85%
    );
    box-shadow: -15px -10px 16px 5px rgba(255, 255, 255, 0.04),
        10px 10px 16px 8px rgb(24, 26, 29);
}

.album {
    width: 205px;
    height: 205px;
    object-fit: cover;
    border-radius: 100%;
}

.song-details {
    text-align: center;
    margin-top: 40px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 0px 30px;
}

.slider {
    width: 70%;
    margin: 20px auto;
}

.slider-bar {
    height: 6px;
    background-color: #000;
    margin: 0px auto;
    border-radius: 5px;
    box-shadow: inset -2px -2px 2px 0px rgb(66, 70, 74),
        inset 1px 1px 1px -1px rgb(0, 0, 0);
}

.inner-slider-bar {
    width: 60%;
    height: 4px;
    background: radial-gradient(at top left, #c92711 0%, #ffc107 90%);
    margin: 0px 1px;
    border-radius: 5px;
}

.time {
    font-size: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
